<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%d{HH:mm:ss.SSS} %26.26logger{26} %.-3level{0}) [uid=%X{uid}] %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <logger name="ar.ppedemon.wta" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
